<a href="https://colab.research.google.com/github/Andrehlb/DataScience_Embraer/blob/main/Aula_3_2_Introdu%C3%A7%C3%A3o_ao_Pandas_pratica_Prof_Matheus_Andrehlb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importação do pandas
import pandas as pd
import numpy as np

<h1> Leitura de Dados </h1>

In [ ]:
pd.read_csv?

In [ ]:
#leitura dos dados do cvs
df = pd.read_csv('http://pycourse.s3.amazonaws.com/temperature.csv')
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [ ]:
#leitura de planilhas excel
#2 abas (worksheet)
excel_file = pd.ExcelFile('http://pycourse.s3.amazonaws.com/temperature.xlsx')

In [ ]:
type(excel_file)

pandas.io.excel._base.ExcelFile

In [ ]:
#leitura da primeira aba (sheet1)
#dados numéricos com separador decimal = '.'
df2 = pd.read_excel(excel_file, sheet_name='Sheet1')
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [ ]:
#leitura da primeira aba (sheet2)
#dados numéricos com separador decimal = '.'
df2 = pd.read_excel(excel_file, sheet_name='Sheet2', decial=',', **kwargs)
df

NameError: ignored

In [ ]:
#leitura da segunda aba (sheet2) que tem, dados numéricos, com vírgula como separador decimal
#será informado para considerar o separador commo ponto
!pip install openpyxl
df3 = pd.read_excel(excel_file, sheet_name='Sheet2') #sem fazer a informação
df3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

        date temperatura classification
0 2020-01-01        29,1         quente
1 2020-02-01        31,2   muito quente
2 2020-03-01        28,5         quente
3 2020-04-01        28,0         quente
4 2020-05-01        24,0    confortavel
5 2020-06-01        20,0           frio

In [ ]:
#Instalação sugerida pelo Proferssor Ricardo
!pip install pandas==1.0.5

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport
df=pd.read_excel("https://pycourse.s3.amazonaws.com/temperature.xlsx")
df.head()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas==1.0.5 in /usr/local/lib/python3.7/dist-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.0.5) (1.21.6)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from pandas==1.0.5) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas==1.0.5) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.6.1->pandas==1.0.5) (1.15.0)

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel

In [ ]:
#leitura da segunda aba (sheet2) que tem, dados numéricos, com vírgula como separador decimal
#será informado para considerar o separador commo ponto
df3 = pd.read_excel(excel_file, sheet_name='Sheet2', decimal = ',') 
df3

TypeError: ignored

Object `decimal` not found.