<a href="https://colab.research.google.com/github/Andrehlb/DataScience_Embraer/blob/main/capitulo05_aula02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Capítulo 05 - Estruturas de Dados em Python

## Aula 02 - Listas (`list`)
- Criação de Listas e Acesso dos Elementos
- Alteração da Lista
- Funções, Operadores e Metódos

---
Em Python, uma lista (list) é uma sequência ordenada de valores, que são identificados por um índice. Estes valores, que compõem uma lista, são chamados de elementos ou itens. 

Listas são estruturas de dados muito similares às strings, que por sua vez são sequência de caracteres, apenas. A diferença é que os elementos de uma lista podem ser de qualquer tipo, ou seja, podem ser homogêneos (todos os valores do mesmo tipo) e heterogêneos (valores com tipos distintos).

Diferentemente das strings, uma lista é também uma sequência mutável e dinâmica. Uma vez que sejam criadas, é possível:
- Alterar o valor de um ou mais elementos;
- Os elementos podem ser adicionados, removidos ou substituídos;
- A ordem dos elementos pode ser alterada.

---

### Criação das Listas e Acesso dos Elementos

In [ ]:
#criando uma lista simples
[1,2,3,4]

[1, 2, 3, 4]

In [ ]:
#declarando a lista em uma variável
lista = [1,2,3,4]
#nada aparece porque não foi dado o comando de impressão

In [ ]:
#declarando a lista em uma variável
lista = [1,2,3,4]
print(lista)

[1, 2, 3, 4]

In [ ]:
lista1 = [1, 2, 3, 4]
lista2 = [4, 3, 2, 1]
lista3 = [1, 2, 3, 4]
print(lista1)
print(lista2)
print(lista3)

[1, 2, 3, 4]
[4, 3, 2, 1]
[1, 2, 3, 4]

In [6]:
lista1 = [1, 2, 3, 4]
lista2 = [4, 3, 2, 1]
lista3 = [1, 2, 3, 4]
print(lista1,',', lista2,',', lista3)

[1, 2, 3, 4] , [4, 3, 2, 1] , [1, 2, 3, 4]

In [12]:
lista1 == lista3 and lista1 != lista2

True

In [13]:
lista1 == lista2

False

In [1]:
# Lista com valores heterogêneos
[2, 'a', 5.44, True]

[2, 'a', 5.44, True]

In [ ]:
# Lista com elementos nulos
['um', 'dois', None, 4, None, None]

['um', 'dois', None, 4, None, None]

In [ ]:
# Listas com outras listas dentro (listas aninhadas)
l = [0, 1]
[l, 'dois', 'três', [4, 5, l], 'seis']

[[0, 1], 'dois', 'três', [4, 5, [0, 1]], 'seis']

In [ ]:
# Lista vazia
l = []
l

[]

In [ ]:
lista = [2, 'a', 5.44, True, None, 'casa']
# acesso por índices
print(lista[0])
print(lista[3])
print(lista[-1])

2
True
casa

In [ ]:
# acesso por slices
print(lista[1:5])
print(lista[-2:])
print(lista[:])

['a', 5.44, True, None]
[None, 'casa']
[2, 'a', 5.44, True, None, 'casa']

**Solução do problema de encontrar a maior idade utilizando listas**

In [ ]:
# cria uma lista para armazenar as 3 idades
# idades = [27, 49, 12]

# cria uma lista para armazenar as 10 idades
idades = [27, 49, 12, 67, 21, 32, 18, 45, 84, 53, 22, 56, 80, 35, 18, 27]

# inicialmente assume que a primeira idade é a maior
maior_idade = idades[0]

# percorre a lista verificando a maior idade
for idade in idades:
    if idade > maior_idade:
         maior_idade = idade

# exibe a maior idade encontrada
print('Maior idade:', maior_idade)

Maior idade: 93

### Alteração da lista

In [ ]:
# Criar uma lista inicial, com elementos heterogêneos
lista = [2, 'a', 'b', 'c', 5.44, True]
print(lista)

[2, 'a', 'b', 'c', 5.44, True]

In [ ]:
# Adiciona um novo elemento na lista: Método append
lista.append(999)
print(lista)

[2, 'a', 'b', 'c', 5.44, True, 999, 999, 999, None, 10.5, False, 999]

In [ ]:
lista.append(None)
lista.append(21/2)
lista.append(2 == 5/2)
lista

[2, 'a', 'b', 'c', 5.44, True, 999, 999, 999, None, 10.5, False]

In [ ]:
# Altera o valor do quarto e o do último elemento
lista[3] = 'a'
lista[-1] = lista[-1] + 1
print(lista)

[2, 'a', 'b', 'a', 5.44, True, 999, 999, 999, None, 10.5, False, 1000]

In [ ]:
# Remove a primeira ocorrência do elemento 'a'
lista.remove(999)
print(lista)

[2, 'b', 5.44, True, 999, 999, None, 10.5, False, 1000]

### Funções, Operadores e Metódos

In [ ]:
l1 = [30, 10, 20]
l2 = [2, 'a', 5.44, True]

# Operações de concatenação (+), repetição (*) e filiação (in)
print(l1 + l2)
print(l1 * 3)
print(99 in l1)

[30, 10, 20, 2, 'a', 5.44, True]
[30, 10, 20, 30, 10, 20, 30, 10, 20]
False

In [ ]:
# Funções úteis
print(len(l2)) # len: retorna a quantidade de elementos da lista.
print(sum(l1)) # sum: retorna a soma dos elementos de uma lista.
print(max(l1)) # max: retorna o maior elemento da lista (!!!!)

4
60
30

In [ ]:
# Métodos que alteram os valores internos da lista
l2.reverse() # reverse: inverte a ordem dos elementos
print(l2)
l1.extend([10, 20, 30, 40, 10]) # extend: adiciona elementos de outra sequência
print(l1)
l1.sort() # sort: ordena os valores da lista
print(l1)
l2.insert(2, 'novo valor') # insert: adiciona um elemento em um índice especifico
print(l2)
l2.pop() # pop: remove o último elemento da lista
print(l2)
l2.clear() # clear: limpa a lista, removendo todos os elementos
print(l2)

[True, 5.44, 'a', 2]
[30, 10, 20, 10, 20, 30, 40, 10]
[10, 10, 10, 20, 20, 30, 30, 40]
[True, 5.44, 'novo valor', 'a', 2]
[True, 5.44, 'novo valor', 'a']
[]

In [ ]:
l1

[10, 10, 10, 20, 20, 30, 30, 40]

In [ ]:
# Métodos que retornam valores e não alteram a lista
print(l1.index(20)) # index: retorna o índice da primeira ocorrência do elemento
print(l1.count(30)) # count: conta as ocorrências do elemento

3
2

In [ ]:
l2 = [2, 'a', 5.44, True]
print(max(l2))

TypeError: ignored

In [ ]:
idades = [27, 49, 12, 67, 21, 32, 18, 45, 84, 53, 22, 56, 80, 35, 18]
print('Maior idade:', max(idades))

Maior idade: 84